.so-widget-sow-slider-default-041b6a6080ea .sow-slider-base .sow-slider-pagination li a {
  background: #d88a31;
}
.so-widget-sow-slider-default-041b6a6080ea .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-slider-default-041b6a6080ea .sow-slider-base .sow-slide-nav a {
  color: #d88a31;
}
